In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('iris.csv')
df

     sepallength  sepalwidth  petallength  petalwidth         species
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
df['species']=df['species'].map({'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2})

In [4]:
df

     sepallength  sepalwidth  petallength  petalwidth  species
0            5.1         3.5          1.4         0.2        0
1            4.9         3.0          1.4         0.2        0
2            4.7         3.2          1.3         0.2        0
3            4.6         3.1          1.5         0.2        0
4            5.0         3.6          1.4         0.2        0
..           ...         ...          ...         ...      ...
145          6.7         3.0          5.2         2.3        2
146          6.3         2.5          5.0         1.9        2
147          6.5         3.0          5.2         2.0        2
148          6.2         3.4          5.4         2.3        2
149          5.9         3.0          5.1         1.8        2

[150 rows x 5 columns]

In [8]:
df['species'].isnull().sum()

0

In [9]:
df['species'].unique()

array([0, 1, 2], dtype=int64)

In [10]:
#find independent and dependent datafrom dataset
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [11]:
print("independent data")
print(x)

independent data
     sepallength  sepalwidth  petallength  petalwidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [12]:
print("dependent data")
print(y)

dependent data
0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [13]:
#start data training and use model logistic regression to check relationship betn dpend and independ
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [14]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
md=model.fit(x_train,y_train)
y_pred=md.predict(x_test)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
print(accuracy_score(y_pred,y_test))

1.0

In [20]:
##check for own dataset
a=input(print("enter sepallength"))

enter sepallength
None2.1

In [21]:
b=input("enter sepal width")

enter sepal width3.5

In [22]:
c=input(print("enter petal length:"))

enter petal length:
None3.4

In [23]:
d=input(print("enter petal width"))

enter petal width
None4.3

In [30]:
data={'sepallength':[a],'sepalwidth':[b],'petallength':[c],'petalwidth':[d]}

In [31]:
df=pd.DataFrame(data)
df

  sepallength sepalwidth petallength petalwidth
0         2.1        3.5         3.4        4.3

In [33]:
pred=model.predict(df)

In [34]:
if pred==0:
    print("Bro!! Flower Colour is Iris-Setosa")
elif pred==1:
    print("Bro!!! Flower Colour is Iris-VeriColour")
else:
    print("Bro !! Flower colour is Iris=Virgina")

Bro !! Flower colour is Iris=Virgina